<div ng-include="'views/admin/nav.html'"></div>
<main class="container-fluid admin-panel" st-table="displayedAnswers" st-safe-src="answers" st-set-filter="answerFilter" ng-cloak>
  <!-- show animation || HIDE CONTENT CONTAINER-->
  <div id="blur_hide">
    <div class="loader">Loading...</div>
    <div id="loadingParagraph">Loading</div>
  </div>
  <!-- || -->
  <h3 ng-if="importInProgress" style="text-align:center" translate>IMPORT_RUNNING</h3>
  <header class="button-header flex-container space-between">
    <h3 class="header-text" translate>ANSWERSTORE</h3>
    <form class="form-inline flex-container flex-grow" role="toolbar" novalidate>
      <span class="flex-container flex-grow input-group header-inputs" st-search>
        <input type="text" class="form-control flex-grow" placeholder="{{'SEARCH' | translate}}"
            ng-model="searchText" model-st-search ng-model-options="{ debounce: 400, '*': '$inherit'}" ng-change="onSearch()"/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
      </span>
      <label class="header-inputs">
        <span translate>ANSWER_SET</span>
        <select class="form-control" ng-model="currentAnswerSetId" ng-change="onSetChange()">
          <option ng-repeat="set in availableAnswerSets" value="{{set.id}}" ng-selected="currentAnswerSetId == set.id">{{set.name}}</option>
        </select>
      </label>
      <button class="btn btn-primary header-inputs" type="button" ng-click="openImportModal()" translate>IMPORT</button>
      <span class="btn-group header-inputs" uib-dropdown>
        <button type="button" class="btn btn-primary" ng-click="exportAnswers('xlsx')" translate>EXPORT</button>
        <button type="button" class="btn btn-primary" uib-dropdown-toggle>
          <i class="caret"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
          <li><a ng-click="exportAnswers('xlsx')" translate>EXPORT_EXCEL</a></li>
          <li><a ng-click="exportAnswers('xlml')" translate>EXPORT_EXCEL_2003</a></li>
          <li><a ng-click="exportAnswers('ods')" translate>EXPORT_OPENDOCUMENT</a></li>
          <li><a ng-click="exportAnswers('csv')" translate>EXPORT_CSV</a></li>
        </ul>
      </span>
    </form>
  </header>
  <div class="alert alert-danger" ng-show="error" uib-alert close="error = null">
    <strong>{{error.status}}</strong> {{error.data.message || error.data || importError}}
  </div>
  <table class="table table-bordered margin-bottom-0">
    <thead>
      <tr>
        <th st-sort="answerId" st-sort-default="true" st-skip-natural="true" translate>ANSWER_ID</th>
        <th class="tags-column">
          <span translate>TAGS</span>
          <button class="btn btn-primary pull-right" type="button" ng-click="newAnswer()">
            <i class="glyphicon glyphicon-plus"></i>
            <span translate>ANSWER_NEW</span>
          </button>
        </th>
      </tr>
    </thead>
  </table>
  <div class="table-container">
    <table class="table table-bordered table-striped">
      <tbody ng-show="isLoading">
        <tr><td class="text-center">
          <i class="glyphicon glyphicon-refresh spinning"></i>
          <span translate>LOADING</span>
        </td></tr>
      </tbody>
      <tbody ng-show="!isLoading && !displayedAnswers.length">
        <tr><td class="text-center" translate>ANSWER_SEARCH_NOT_FOUND</td></tr>
      </tbody>
      <tbody ng-show="!isLoading && displayedAnswers.length">
        <tr ng-repeat="answer in displayedAnswers track by answer.answerId">
          <td class="padding-0">
            <div class="flex-container">
              <div class="padding-10-5">
                <button class="btn btn-link padding-vertical-3" type="button" ng-click="editAnswer(answer.answerId)">
                  <i class="glyphicon glyphicon-pencil"></i>
                </button>
                <button class="btn btn-link padding-vertical-3" type="button" ng-click="openDeleteModal(answer.answerId)">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
              <div class="flex-container space-between flex-grow padding-10-5" ng-click="answersExpanded[$index] = !answersExpanded[$index]">
                <div ng-bind-html="answer.answerId | highlightFilter:searchText"></div>
                <div class="flex-container space-between tags-column">
                  <div ng-bind-html="answer.tags.join(', ') | highlightFilter:searchText"></div>
                  <i class="glyphicon" ng-class="{'glyphicon-chevron-down': !answersExpanded[$index], 'glyphicon-chevron-up': answersExpanded[$index]}"></i>
                </div>
              </div>
            </div>
            <div class="well well-sm padding-0 well-margin" uib-collapse="!answersExpanded[$index]">
              <table class="table table-bordered table-condensed margin-bottom-0" style="background: #f5f5f5;">
                <tr ng-repeat="answerOption in answer.answerOptions">
                  <td class="answer-option-cell-1">
                    <button class="btn btn-link padding-vertical-3" type="button" ng-if="$first" ng-click="newAnswerOption(answer)">
                      <i class="glyphicon glyphicon-plus"></i>
                    </button>
                  </td>
                  <td class="answer-option-cell-2">
                    <button class="btn btn-link padding-vertical-3" type="button" ng-click="editAnswerOption(answer.answerId, $index)">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button class="btn btn-link padding-vertical-3" type="button" ng-if="answer.answerOptions.length > 1" ng-click="openDeleteModal(answer.answerId, answerOption)">
                      <i class="glyphicon glyphicon-trash"></i>
                    </button>
                  </td>
                  <td class="answer-option-cell-3" bind-html-if-safe="answerOption.answerText | highlightFilter:searchText"></td>
                  <td class="tags-column" ng-if="answerOption.tags" ng-bind-html="answerOption.tags.join(', ') | highlightFilter:searchText"></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- import modal -->
  <script type="text/ng-template" id="importModal.html">
    <div class="modal-header">
      <button class="close" type="button" ng-click="$dismiss()">&times;</button>
      <h4 class="modal-title" translate>UPLOAD_ANSWERS</h4>
      <h4 class="modal-title" ng-if="importStatus">Status: {{importStatus}} ({{importProgress}} %)</h4>
    </div>
    <div class="modal-body">
      <p translate>UPLOAD_ANSWERS_TEXT</p>
      <div class="input-group margin-top-15">
        <label class="input-group-btn">
          <span class="btn btn-primary" ngf-select ng-model="$parent.uploadFile" ngf-pattern="'.csv,.ods,.xls,.xlsx'"
            ngf-accept="'.csv,.ods,.xls,.xlsx'" ngf-max-size="{{maxSize}}" translate>
            BROWSE
          </span>
        </label>
        <input class="form-control" type="text" ng-model="uploadFile.name" readonly>
      </div>
      <hr>
      <h4 translate>IMPORT_MODE</h4>
      <div class="radio">
        <label>
          <input type="radio" name="importModeRadios" ng-model="uploadMode" ng-value="true">
          <span translate>IMPORT_MODE_OVERRIDE</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="importModeRadios" ng-model="uploadMode" ng-value="false">
          <span translate>IMPORT_MODE_INSERT</span>
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>GENERAL_CANCEL</button>
      <button type="button" class="btn btn-primary" ng-click="importFile()" ng-disabled="!uploadFile">
        <span translate>GENERAL_UPLOAD</span>
        <i class="glyphicon glyphicon-refresh spinning" ng-show="isImporting"></i>
      </button>
    </div>
  </script>

  <!-- delete modal -->
  <script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
      <button class="close" type="button" ng-click="$dismiss()">&times;</button>
      <h4 class="modal-title" ng-if="deleteMode === 'answer'" translate>DELETE_ANSWER</h4>
      <h4 class="modal-title" ng-if="deleteMode === 'answerOption'" translate>DELETE_ANSWER_OPTION</h4>
    </div>
    <div class="modal-body" ng-if="deleteMode === 'answer'" translate>DELETE_ANSWER_TEXT</div>
    <div class="modal-body" ng-if="deleteMode === 'answerOption'" translate>DELETE_ANSWER_OPTION_TEXT</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>NO</button>
      <button type="button" class="btn btn-primary" ng-click="deleteAnswerOrOption()">
        <span translate>YES</span>
        <i class="glyphicon glyphicon-refresh spinning" ng-show="isDeleting"></i>
      </button>
    </div>
  </script>
</main>
