<div id="extFeedbackModalHeader" class="modal-header">
    <div id="modal-logo"></div>
    <h3 class="modal-title" id="modal-title" ng-if="$ctrl.no_answer">Watson ist für die Frage leider noch nicht trainiert...</h3>
    <h3 class="modal-title" id="modal-title" ng-if="!$ctrl.no_answer">Danke, dass Sie uns helfen EVA besser zu machen!</h3>
</div>
<div class="modal-body" id="modal-body">
  <div ng-if="$ctrl.errorText" class="alert alert-danger alert-dismissable">
    <i class="close" ng-click="$ctrl.errorText = ''" aria-label="close">&times;</i>
    {{$ctrl.errorText}}
  </div>
  <div>
    <dl class="dl-horizontal">
      <dt>Frage</dt>
      <dd>{{$ctrl.feedbackRow.question.text}}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Antwort</dt>
      <dd data-ng-bind-html="$ctrl.feedbackRow.answer.text | unsafe"></dd>
    </dl>
    <hr>
    <dl>
      <dt>Womit sind Sie nicht zufrieden?*</dt>
      <dd style="margin-top: 10px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <span ng-if="$ctrl.no_answer">Keine Antwort</span>
              <select style="background-color: #aac9ea; color: #fff;" class="form-control" ng-if="!$ctrl.no_answer" ng-model="$ctrl.updatedFeedback.reason">
                <option value="false">Begründung</option>
                <option ng-repeat="option in $ctrl.extFeedbackConfig.reason" ng-value="option">{{option}}</option>
              </select>
            </div>
          </div>
        </div>
      </dd>
    </dl>
    <dl>
      <dt>Welche Antwort oder Reaktion sollte Eva Ihrer Meinung nach geben?*</dt>
      <dd style="padding-left: 15px;">
        <textarea ng-model="$ctrl.updatedFeedback.comment" style="width: 500px; height: 100px; margin-top: 10px;"></textarea>
      </dd>
    </dl>
    <hr>
    <p>* Verpflichtende Eingabe</p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()" style="color:#000;">Abbrechen</button>
  <button class="btn btn-success" type="button" ng-click="$ctrl.save()" style="background-color: #337ab7; color: #fff;">Speichern</button>
</div>
